<!DOCTYPE html>
<html>

<head>
    <title>State</title>
</head>

<body>
    <h1>State wise performance</h1>
    <h2>Selected state {{State}}</h2> 
    <div style="position: relative; display: inline;">
        <div style="display: inline-block;">
          {{maths|safe}}
        </div>
        <div style="display: inline-block;">
          
          {{Reading|safe}}
        </div>
        <div style="display: inline-block;">
          
          {{Science|safe}}
        </div>
        <div style="display: inline-block;">
          
          {{Social|safe}}
        </div>
  </div>
</body>

</html>