<!DOCTYPE html>
<html>

<head>
    <title>Gramener</title>
</head>

<body>
     <div style="text-align:center">
   <a href='/gram/'><p>What influences students performance the most ? </p></a>
   <b>Select state to see State wise performance</b><select id="mySelect" onchange="myFunction()">
   {%for item, val in States.items%}
    <option value="{{item}}">{{val}}</option>
  {%endfor%}
  </select><br>
 <a href='/gram/south'>Do students from South Indian states really excel at Math and Science?</a>
  </div>

  <div style="position: relative; display: inline;">
    <div style="display: inline-block;">
        <h1>Father Education</h1>
        {{FatherEdu|safe}}
    </div>
     <div style="display: inline-block;">
        <h1>Father Occupation</h1>
        {{FatherOccu|safe}}
    </div>
    <div style="display: inline-block;">
        <h1>Mother Education</h1>
        {{MotherEdu|safe}}
    </div>
    <div style="display: inline-block;">
        <h1>Mother Occupation</h1>
        {{MotherOccu|safe}}
    </div>
  </div>
  <script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("mySelect").value;
    console.log(x)
   window.location = '/gram/'+x
}
</script>

</body>

</html>