<!DOCTYPE html>
<html>

<head>
    <title>South</title>
</head>

<body>
    <h1>South Math science</h1>
    <div style="position: relative; display: inline;">
      <div style="display: inline-block;">
          {{Math|safe}}
      </div>
      <div style="display: inline-block;">
        {{Science|safe}}
      </div>
    </div>
</body>

</html>